<nav [ngClass]="{'background-color--burlywood':  styleClass === 'aboutMe'}">
    <div class="title">
        <p>balans</p>
    </div>
    <div class="subtitle">
        <p>studio</p>
    </div>
    <ul class="list">
        <li *ngFor="let navItem of navList" class="list-item" [routerLink]="navItem.routerLink">
            <span [ngClass]="{'text-color': styleClass === 'aboutMe', 'active': navItem.name === 'O mnie' && styleClass === 'aboutMe' }">{{navItem.name}}</span>
        </li>
    </ul>
</nav>