<nav>
    <div class="title">
        <p>balans</p>
    </div>
    <div class="subtitle">
        <p>studio</p>
    </div>
    <ul class="list">
        <li class="list-item"> <span>Strona główna</span></li>
        <li class="list-item"><span>O mnie</span></li>
        <li class="list-item"><span>Warsztaty pięknego ciała</span></li>
        <li class="list-item"><span>Warsztaty stania na rękach</span></li>
        <li class="list-item"><span>Warsztaty akrobatyki</span></li>
        <li class="list-item"><span>Kontakt</span></li>
    </ul>
</nav>