/* You can add global styles to this file, and also import other style files */
$sadlook: #e4e2e2;
$octoberDay: #d4c5c2;

* {
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
@font-face {
    font-family: now;
    src: url(assets/font/Now-Regular.otf);
}

@font-face {
    font-family: now-thin;
    src: url(assets/font/Now-Thin.otf);
}

@font-face {
    font-family: jonathan;
    src: url(assets/font/Jonathan.otf);
}